/* -------------------
------- HERO ---------
------------------- */
.heroWrapper {
  margin-top: -72px;
}

.heroBg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;

  background-position: center;
  background-size: cover;
}

.heroSection {
  min-height: 100svh;
  max-width: 800px !important;
  padding-top: 72px;

  align-items: flex-start !important;
}

.heroSection .heading {
  font-weight: bold;
  font-size: 1.75rem;
  color: var(--text-main);
  text-transform: none;
}

.subheading {
  composes: large-body from '../global.css';
  line-height: 150%;
}

/* -------------------
-------- WBH ---------
------------------- */
.wbhWrapper {
  background-color: var(--text-main);
  color: var(--bg-main);
}

.wbhSection {
  padding: 2rem 0;
}

.wbhSection svg {
  fill: #a37e3e;
  max-width: 100%;
  width: 400px;
  height: auto;
}

.wbhSection .subheading {
  max-width: 576px;
  font-size: 1rem;
}

/* -------------------
--- BIO & CONTACT ----
------------------- */

.bioSnippet,
.contactText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  max-width: 500px;
  margin: 0 auto;
}

.bioSection img,
.contactSection img {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
}

.contactSection img {
  grid-area: 1 / 2 / 2 / 3;
}

.bioSnippet p,
.contactText p {
  margin: 0;
  max-width: 576px;
}

/* -------------------
---- TESTIMONIALS ----
------------------- */
.testimonialsWrapper {
  background-color: var(--text-main);
  color: var(--bg-main);
}

.testimonialsSection {
  position: relative;
  padding-bottom: 1rem;
  min-height: 216px;

  flex-direction: row !important;
}

.testimonialsSection .arrow,
.testimonialsSection .dots > div {
  cursor: pointer;
}

.testimonialsSection .arrow svg {
  height: 32px;
  fill: var(--bg-main);
  display: block;
}

.testimonial {
  max-width: 900px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: opacity 0.4s ease-in-out;
}

.testimonial.visible {
  opacity: 1;
}
.testimonial.hidden {
  opacity: 0;
}

.testimonial .quote {
  font-size: 1.25rem;
  line-height: 150%;
  position: relative;
}

.testimonial .quote::before,
.testimonial .quote::after {
  font-size: 2rem;
  position: absolute;
  top: 0;
}

.testimonial .quote::before {
  content: '“';
  left: -1rem;
}

.testimonial .quote::after {
  content: '”';
  right: -1rem;
}

.testimonialsSection .dots {
  position: absolute;
  bottom: -1rem;
  z-index: 1;
  display: flex;
  gap: 0.75rem;
}

.dots > div {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--bg-main);
  border-radius: 100%;
  opacity: 0.5;
}

.dots .selected {
  opacity: 1;
}

/* -------------------
------- COLLABS ------
------------------- */
.collabsSection h2,
.contactSection h2,
.servicesSection h2,
.trustedBySection h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.collabGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  max-width: 100%;
  gap: 1rem;
  justify-content: center;
}

.collab {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: inherit;
  text-decoration: none;
}

.collabTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.collabSubtitle {
  font-size: 0.75rem;
}

.collabImage {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.collabImage .thumbnail {
  width: 100%;
  height: 100%;
}

.collabImage .platform {
  width: 40px;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

/* -------------------
------ SERVICES ------
------------------- */
.servicesGrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.service img {
  max-width: 100%;
}

.service .content {
  flex: 1;

  background-color: var(--text-main);
  color: var(--bg-main);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service .content h3 {
  text-align: center;
}

.service .content > * {
  margin: 0;
}

.service .content p {
  flex: 1;
}

.service .content a {
  align-self: center;
}

/* -------------------
------- CONTACT ------
------------------- */
.contactSection .content {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.contactSection svg {
  fill: var(--accent-main);
}

.contactSection svg:hover {
  fill: var(--text-main);
}

.contactText .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* -------------------
----- TRUSTED BY -----
------------------- */
.trustedByWrapper {
  background-color: var(--text-main);
}

/* -------------------
----- RESPONSIVE -----
------------------- */
@media (min-width: 768px) {
  .heroSection .heading {
    font-size: 2rem;
  }
  .wbhSection .subheading {
    font-size: 1.25rem;
  }

  .bioSection img,
  .contactSection img {
    max-width: 600px;
  }

  .testimonialsSection {
    gap: 3rem !important;
  }
}

/* Small laptops (1024px and up) */
@media (min-width: 1024px) {
  .bioSection,
  .contactSection .content {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .bioSection img,
  .contactSection img {
    max-width: none;
  }
  .bioSnippet,
  .contactText {
    align-items: flex-start !important;
  }
  .bioSnippet p,
  .contactText p {
    max-width: none;
  }

  .testimonialsSection {
    gap: 5rem;
  }

  .servicesGrid {
    flex-direction: row;
  }

  .contactText .links {
    flex-direction: row;
  }
}

/* Desktop (1280px and up) */
@media (min-width: 1280px) {
}
