.button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
}

.light {
  background-color: var(--text-main);
  color: var(--bg-main);
}

.dark {
  background-color: var(--bg-main);
  color: var(--text-main);
}

.main {
  background-color: var(--accent-main);
  color: var(--bg-main);
}

.wbh {
  background-color: var(--accent-wbh);
  color: var(--text-main);
}
