.footerWrapper {
  width: 100%;
  padding: 1rem;
  background-color: var(--text-main);
  color: var(--bg-main);
}

.footer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.logo {
  font-family: var(--font-headings);
  font-size: 1.25rem;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.footer li {
  padding: 0;
  margin: 0;
}

.socialLinks ul {
  margin: 1.5rem 0;
  gap: 1rem;
  justify-content: center;
}

.socialLinks svg {
  fill: var(--bg-main);
  cursor: pointer;
}

.socialLinks svg:hover {
  fill: var(--accent-main);
}

.links ul {
  flex-direction: column;
  gap: 0.5rem;
}

.disclaimer {
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    text-align: left;
  }

  .socialLinks ul {
    margin: 0.5rem 0;
    justify-content: left;
  }

  .disclaimer {
    grid-column: span 2;
    text-align: center;
  }
}
