.socialLinks ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  line-height: 0;
}

.socialLinks li {
  padding: 0;
  margin: 0;
}

.socialLinks ul {
  gap: 1rem;
  justify-content: center;
}

.socialLinks svg {
  cursor: pointer;
}

@media (min-width: 768px) {
  .socialLinks ul {
    justify-content: left;
  }
}
