.trustedByGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  max-width: 100%;
  gap: 1rem;
  justify-content: center;
  gap: 1rem;
}

.trustedByGrid .company {
  width: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.trustedByGrid .company img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .trustedByGrid {
    gap: 3rem;
  }
}
