@import 'node_modules/modern-normalize/modern-normalize.css';
@import './fonts.css';

:root {
  /* Backgrounds */
  --bg-main: #2c4438;

  /* Text */
  --text-main: #ece9e3;

  /* Accents */
  --accent-main: #d7ab54;

  /* Fonts */
  --font-headings: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  --font-body: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

body {
  background-color: var(--bg-main);

  font-family: var(--font-body);
  color: var(--text-main);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headings);
}

h1,
h2 {
  color: var(--accent-main);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 150%;
}

.large-body {
  font-size: 1.25rem;
}
