.sectionWrapper {
  width: 100%;
  padding: 2rem 1rem;
}

.section {
  max-width: 1800px;
  margin: 0 auto;
}

.sectionWrapper.noPadding {
  padding: 0 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
